{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register a participant</h1>

    {{ form(registrationForm) }}


    <h2>Register with CSV</h2>

    {{ form(csvForm)}}
    {# <form action=" {{ path('admin_register_csv') }} " method="POST">
        <h2>Register with CSV</h2>
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form> #}
    
{% endblock %}
