@import "../theme/fonts";
label {
  @include standard-txt-regular;
}
.outing-list-page-container {
  display: grid;
  grid-template-rows: 25vh auto; /* Divide screen between form and outing cards*/
}
.outing-list-form-section {
  display: grid;
  grid-template-columns: 80% 20%;
}
$left-margin:22px;
.outing-list-form {
  display:grid;
  grid-template-rows: 1.25fr 1fr 1fr;
  background: linear-gradient(
    91.91deg,
    rgba(48, 206, 227, 0.26) 22.68%,
    rgba(28, 235, 86, 0.1794) 85.84%
  );
  border-radius: 50px;
  margin-inline-start: $left-margin;
}
.outing-list-search-parameters,.outing-list-form-tag-fields {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.outing-list-side-options{
  display:grid;
  grid-template-rows: 2.25fr 1fr;
  justify-items: center;
  width:80%;
  .user-infos{
    background: linear-gradient(113.95deg, rgba(250, 27, 27, 0.148) 18.2%, rgba(85, 27, 250, 0.182) 88.4%);
    border-radius: 40px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include standard-txt-regular;
    color: $font-primary-color;
    width: 90%;
    margin-block-end: 10px;
  }
  .outing-list-button-container{

    button{
      width:100%;
      margin:0;
    }
  }
}
.outing-list-button-container{
  display:flex;
  justify-content: center;
  align-items: center;
  button{
    padding:0;
    height:80%;
    margin:auto;
  }
}
.search-button-container{
  margin-inline-start: 10vw;
}
.outing-list-cards-container{
  display:flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
  margin-inline: 2.5vw;
  margin-block-start: 15px;
}
.outing-form-pagination{
  display:flex;
  justify-content: center;
  margin : 0 5vw 0 0;
}
.show-for-phone{
  visibility: hidden;
  display:none;
}

.date{
  height: 3em;
}
.page-navigation{

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  @include bold-txt-regular;
  font-size: 30px;
  color : $font-primary-color;
  width: 5vw;
  min-width: 0;
  max-width: none;
  &:hover{
    font-size: 35px;
    box-shadow: none;
    background-color: transparent;
    width: 5vw;
    color:black;
  }
}
#filter_dateBeginFilter, #filter_dateEndFilter{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#filter_dateEndFilter{
  margin-inline-end: 10px;
}

@media  (max-device-width: 400px){

  .outing-list-form-section-phone , .hide-for-phone {
    visibility: hidden;
  }

  .show-for-phone{
    visibility: visible;
  }



}
