@import "../theme/fonts";
label {
  @include standard-txt-regular;
}
.outing-list-page-container {
  display: grid;
  grid-template-rows: 20vh auto; /* Divide screen between form and outing cards*/
}
.outing-list-form-section {
  display: grid;
  grid-template-columns: 80% 20%;
}
.outing-list-form {
  display:grid;
  grid-template-rows: 1.25fr 1fr 1fr;
  background: linear-gradient(
    91.91deg,
    rgba(48, 206, 227, 0.26) 22.68%,
    rgba(28, 235, 86, 0.1794) 85.84%
  );
  border-radius: 50px;
}
.outing-list-search-parameters,.outing-list-form-tag-fields {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.outing-list-search-button-container{
  display:flex;
  justify-content: center;
  button{
    padding:0;
    height:80%;
    margin:auto;
  }
}
#filter_dateBeginFilter, #filter_dateEndFilter{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#filter_dateEndFilter{
  margin-inline-end: 10px;
}