@import "../theme/fonts";
@import "../theme/shape";
@import "../theme/color";
@import "form";

$btn-size-unit: 36px;
button {
  @include border-primary;

  background-color: $btn-primary-color;

  padding: 12px;

  min-width: $btn-size-unit * 5;
  max-width: $btn-size-unit * 10;
  min-height: $btn-size-unit;
  max-height: $btn-size-unit * 2;

  border: 0;

  @include bold-txt-regular;

  color: $font-secondary-color;
  opacity: 0.8;

  cursor: pointer;
  transition: 0.25s;

  &:hover {
    /* the "&" refers to the parent element, we  use it to concatenates selectors (= button:hover)*/
    background-color: $btn-primary-hover-color;
    transition: 0.25s;
  }
}
/*Use it to make other HTML tag look like our beloved buttons*/
.button {
  @extend button;
  text-decoration: none;
  text-align: center;
}

.btn-secondary {
  @extend button;
  background-color: $btn-secondary-color;
  color: $font-primary-color;
  &:hover {
    background-color: $btn-secondary-hover-color;
  }
}
.btn-txt-large {
  @include bold-txt-large;
}
/*LOGIN-FORM BUTTON*/
.btn-login-form {
  @extend button;
  padding: $padding-login-form-field;
  font-size: 24px;
  font-weight: normal;
  flex: 1 1 auto;
  max-height: $btn-size-unit * 2.5;
}
/*NAV BUTTONS*/
.nav-btn-selected {
  @extend button;
  @include important-txt-large;
  font-weight: normal;
  color: white;
  font-family: $signika;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: $btn-size-unit * 3.6;
  min-height: $btn-size-unit * 1.5;
  max-height: $btn-size-unit * 2;
}
.nav-btn {
  @extend .nav-btn-selected;
  color: black;
  background-color: transparent;
  transition: 0.25s;
  &:hover {
    color: white;
    background-color: $btn-primary-color;
    transition: 0.25s;
  }
}
.nav-profile-btn {
  @extend .nav-btn-selected;
  @include important-txt-big;
  border-radius: 50%;
  color: white;
  min-width: $btn-size-unit * 1.5;
  max-width: $btn-size-unit * 1.5;
  min-height: $btn-size-unit * 1.5;
  max-height: $btn-size-unit * 1.5;
}
/*For Outing List (checkbox are styled like button )*/
.checkbox {
  .unselected-filter-checkbox{
    color:$font-primary-color;
    background-color: $bg-color;
    transition : 0.25s;
  }
  .selected-filter-checkbox,.unselected-filter-checkbox:hover{
    color:$font-secondary-color;
    background-color: $btn-primary-color;
    transition : 0.25s;
  }
  label {
    @extend button;
    @include standard-txt-regular;
    font-size: 13px;
    display: block;
    text-align: center;
    padding: 1vh;
    margin:auto;
    width:auto;
    min-width: 0;
    min-height: 0;
    max-width:100%;
    height: calc(100% - 12px);
  }
  input[type="checkbox"] {
    color: transparent;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    display: block;
    margin: 0;
    border: none;
    outline: none;
    width: 0;
    padding: 30px;
    padding-inline: 80px;
  }
}
.page-navigation{
  cursor:pointer;
}