@import "../theme/fonts";
@import "../theme/shape";
@import "../theme/color";
@import "form";

$btn-size-unit: 36px;
button {
  @include border-primary;

  background-color: $btn-primary-color;

  padding: 12px;

  min-width: $btn-size-unit * 5;
  max-width: $btn-size-unit * 10;
  min-height: $btn-size-unit;
  max-height: $btn-size-unit * 2;

  border: 0;

  @include bold-txt-regular;

  color: $font-secondary-color;
  opacity: 0.8;

  cursor: pointer;
  transition: 0.25s;

  &:hover {
    /* the "&" refers to the parent element, we  use it to concatenates selectors (= button:hover)*/
    background-color: $btn-primary-hover-color;
    transition: 0.25s;
  }
}
.btn-secondary {
  @extend button;
  background-color: $btn-secondary-color;
  color: $font-primary-color;
  &:hover {
    background-color: $btn-secondary-hover-color;
  }
}
.btn-txt-large {
  @include bold-txt-large;
}
/*LOGIN-FORM BUTTON*/
.btn-login-form {
  @extend button;
  padding: $padding-login-form-field;
  font-size: 24px;
  font-weight: normal;
  flex: 1 1 auto;
  max-height: $btn-size-unit * 2.5;
}
