h1 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 16px;
  color: rgba(45, 41, 41, 0.9);
}

h1 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 16px;
  color: rgba(45, 41, 41, 0.9);
}

input, .input, textarea, select {
  border-radius: 80px;
  border-color: #2d2929;
  opacity: 0.8;
  transition: 0.33s;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 8px 20px;
  margin: 12px;
  border: none;
  outline: none;
  /*Create a border when selected TODO: decide a style for it */
  width: 90%;
  /*Inputs fill all the width of their containers*/
  background-color: rgba(255, 253, 255, 0.7);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
input::placeholder, .input::placeholder, textarea::placeholder, select::placeholder {
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 16px;
  color: rgba(45, 41, 41, 0.8);
}
input:hover, .input:hover, input:focus, .input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  -webkit-box-shadow: inset 0 0 10px rgba(45, 41, 41, 0.2);
  -moz-box-shadow: inset 0 0 10px rgba(45, 41, 41, 0.2);
  box-shadow: inset 0 0 10px rgba(45, 41, 41, 0.2);
}

input, .input, select {
  height: 2.6em;
}

.labelInput, .panel-form-user label {
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 16px;
  color: rgba(45, 41, 41, 0.8);
  padding-left: 2em;
}

select {
  padding-right: 40px;
}
select .custom-dropdown__select {
  padding-right: 1em;
  /* accommodate with the pseudo elements for the dropdown arrow */
}

textarea {
  height: 10em;
  padding-top: 1.4em;
  border-radius: 30px;
}

.primaryInformation {
  padding: 0.5em 0em 0.5em 2em;
}

.secondaryInformation {
  padding: 0.5em 0em 0.5em 4em;
}

/*search bar with magnifying glass*/
.inputSearch .search-field {
  width: 100%;
  border: none;
  outline: none;
}
.inputSearch .search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
.inputSearch .search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.inputSearch .loupeForm {
  border: 1px solid;
  border-radius: 2em;
  padding: 0.5em 2em 0.5em 3em;
  border-color: silver;
}

/*------------LOGIN-FORM-------------*/
.login-form {
  font-size: 24px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 50vw;
  margin: auto;
}
.login-form input, .login-form .input {
  background: none;
  border: 1px solid;
  padding: 18px;
  padding-inline-start: 45px;
  font-size: 30px;
}
.login-form input::placeholder, .login-form .input::placeholder {
  color: black;
  opacity: 0.8;
}
.login-form button, .login-form .checkbox label, .checkbox .login-form label, .login-form .nav-btn-selected, .login-form .nav-profile-btn, .login-form .nav-btn, .login-form .btn-login-form, .login-form .btn-secondary, .login-form .button, .login-form ::-webkit-file-upload-button {
  max-width: inherit;
}

.login-connect {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-block-start: 36px;
}
.login-connect .checkbox-container {
  min-width: 50%;
  margin-inline-start: 54px;
}
.login-connect .checkbox-container .checkbox {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #232020;
  opacity: 0.8;
  margin: auto;
}
.login-connect .checkbox-container .checkbox input[type=checkbox], .login-connect .checkbox-container .checkbox [type=checkbox].input {
  margin-inline-start: 1rem;
}
.login-connect .checkbox-container .checkbox .remember-me {
  font-size: 0.9rem;
  font-weight: 500;
  margin-inline-start: 2rem;
}

@media screen and (max-width: 1000px) {
  .login-form {
    min-width: 65vw;
  }
}
@media screen and (max-width: 768px) {
  .checkbox-container {
    display: none;
  }
}
@media screen and (max-width: 535px) {
  .login-form {
    margin: 8px;
  }

  .login-page {
    margin: 18px;
  }
}
/*------------PANEL-FORM-------------*/
.single-outing-participants {
  background: linear-gradient(123.61deg, rgba(172, 191, 241, 0.28) 17.46%, rgba(136, 239, 233, 0.24) 49.47%, rgba(134, 237, 157, 0.24) 81.13%);
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
  margin: 2% 10%;
  width: 40%;
  overflow: scroll;
  max-height: 15em;
}
.single-outing-participants h2 {
  Padding: 0 0 0 0.8em;
}
.single-outing-participants table {
  padding-top: 1em;
  margin: 0 auto;
}
.single-outing-participants table th, .single-outing-participants table td {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.single-outing-participants table a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

.panel-form-outing {
  background: linear-gradient(123.61deg, rgba(21, 106, 207, 0.36) 17.46%, rgba(214, 130, 53, 0.24) 61.63%, rgba(214, 53, 140, 0.24) 86.37%);
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  margin: 2% 10%;
}
.panel-form-outing .column {
  padding: 2%;
}
.panel-form-outing .left {
  grid-column: 1;
}
.panel-form-outing .right {
  grid-column: 2;
}
.panel-form-outing h1 {
  Padding-left: 1em;
}

.panel-user {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.formAvatar {
  padding: 0 20%;
  grid-column: 1;
}
.formAvatar .avatar {
  background-color: #EDDCC3;
  border-radius: 100%;
  width: 12em;
  height: 12em;
}
.formAvatar .avatar img {
  border-radius: 100%;
  width: 12em;
  height: 12em;
}

.panel-form-user {
  grid-column: 2;
  background: linear-gradient(180deg, rgba(25, 224, 237, 0.38) 0%, rgba(240, 158, 34, 0.25) 100%);
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2% 3% 6% 6%;
}
.panel-form-user h1 {
  Padding: 0 0 0.5em 0.5em;
}
.doubleInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
}

/*------------BUTTON-CONTAINERS-------------*/
.buttonContainerOuting {
  margin: 2% 10%;
  display: flex;
}
.buttonContainerOuting button, .buttonContainerOuting .checkbox label, .checkbox .buttonContainerOuting label, .buttonContainerOuting .nav-btn-selected, .buttonContainerOuting .nav-profile-btn, .buttonContainerOuting .nav-btn, .buttonContainerOuting .btn-login-form, .buttonContainerOuting .btn-secondary, .buttonContainerOuting ::-webkit-file-upload-button, .buttonContainerOuting .button {
  margin-right: 2em;
}

.buttonContainerUser {
  grid-column: 2;
  margin-top: 5%;
  display: flex;
}
.buttonContainerUser button, .buttonContainerUser .checkbox label, .checkbox .buttonContainerUser label, .buttonContainerUser .nav-btn-selected, .buttonContainerUser .nav-profile-btn, .buttonContainerUser .nav-btn, .buttonContainerUser .btn-login-form, .buttonContainerUser .btn-secondary, .buttonContainerUser ::-webkit-file-upload-button, .buttonContainerUser .button {
  margin-right: 2em;
}

/*button file upload under user avatar*/
#participant_photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*OUTING LIST FORM*/
.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-input .label {
  margin-top: -50px;
  z-index: 6000;
}
.form-input div input, .form-input div .input, .form-input div select {
  margin: auto;
  padding: 6px;
  margin-block-start: 12px;
  width: 80%;
  height: calc(100% - 12px);
}

#filter_site, #filter_name {
  width: 100%;
}

button, .checkbox label, .nav-btn-selected, .nav-profile-btn, .nav-btn, .btn-login-form, .btn-secondary, .button, ::-webkit-file-upload-button {
  border-radius: 80px;
  border-color: #2d2929;
  opacity: 0.8;
  transition: 0.33s;
  background-color: #7e7f80;
  padding: 12px;
  min-width: 180px;
  max-width: 360px;
  min-height: 36px;
  max-height: 72px;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.25s;
}
button:hover, .checkbox label:hover, .nav-btn-selected:hover, .nav-profile-btn:hover, .nav-btn:hover, .btn-login-form:hover, .btn-secondary:hover, .button:hover, :hover::-webkit-file-upload-button {
  /* the "&" refers to the parent element, we  use it to concatenates selectors (= button:hover)*/
  background-color: rgba(41, 44, 45, 0.8);
  transition: 0.25s;
}

/*Use it to make other HTML tag look like our beloved buttons*/
.button, ::-webkit-file-upload-button {
  text-decoration: none;
  text-align: center;
}

.btn-secondary {
  background-color: #d3d4d4;
  color: #232020;
}
.btn-secondary:hover {
  background-color: #a09b9b;
}

.btn-txt-large {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*LOGIN-FORM BUTTON*/
.btn-login-form {
  padding: 18px;
  font-size: 24px;
  font-weight: normal;
  flex: 1 1 auto;
  max-height: 90px;
}

/*NAV BUTTONS*/
.nav-btn-selected, .nav-profile-btn, .nav-btn {
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 20px;
  font-weight: normal;
  color: white;
  font-family: "Signika", sans-serif;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 129.6px;
  min-height: 54px;
  max-height: 72px;
}

.nav-btn {
  color: black;
  background-color: transparent;
  transition: 0.25s;
}
.nav-btn:hover {
  color: white;
  background-color: #7e7f80;
  transition: 0.25s;
}

.nav-profile-btn {
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  min-width: 54px;
  max-width: 54px;
  min-height: 54px;
  max-height: 54px;
}

/*For Outing List (checkbox are styled like button )*/
.checkbox .unselected-filter-checkbox {
  color: #232020;
  background-color: rgba(253, 252, 248, 0.6);
  transition: 0.25s;
}
.checkbox .selected-filter-checkbox, .checkbox .unselected-filter-checkbox:hover {
  color: #ffffff;
  background-color: #7e7f80;
  transition: 0.25s;
}
.checkbox label {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 1vh;
  margin: auto;
  width: auto;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  height: calc(100% - 12px);
}
.checkbox input[type=checkbox], .checkbox [type=checkbox].input {
  color: transparent;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  display: block;
  margin: 0;
  border: none;
  outline: none;
  width: 0;
  padding: 30px;
  padding-inline: 80px;
}

.page-navigation {
  cursor: pointer;
}

/*# sourceMappingURL=buttons.css.map */
