@import "../theme/fonts";
@import "../theme/shape";
@import "../theme/color";
@import "form";
@import "image";

$card-width: 15rem;
$card-height: 15rem;

.card {
  margin: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: rgba(170, 73, 216, 0.29);
  border-radius: 40px;
  border: none;

  height: $card-height;
  width: $card-width;

  padding: 20px 20px;
}
.card {

  .card-head {

    h1,
    h2,
    h3,
    h4 {
      @include important-txt-regular;
      a{
        text-decoration: none;
        color : $font-primary-color;
      }
      .outing-name{
        transition:0.25s;

        &:hover{
          transition:0.25s;
          @include important-txt-big;
        }
      }
    }

    .date {
      @include italic-txt-small;
      font-size: 10px;
    }
  }

  
  .card-body {
    margin-inline-end: 10%;
    min-height: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    p {
      @include standard-txt-regular;
      font-size: 12px;
      a{
        text-decoration: none;
        font-weight: 600;
        color:$font-primary-color;
        transition:0.15s;
      }
      a:hover{
        text-decoration: none;
        font-weight: 800;
        transition:0.15s;
      }
    }
  }


  .btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-inline-end: 10%;

    button,a {
      display: inline;
      background-color: transparent;
      min-width: auto;
      margin: auto;
      text-decoration: none;
      padding:0;
      @include important-txt-regular;
      outline:none;
      transition:0.2s;
      &:hover{
        color:black;
        transition:0.2s;
      }
    }
  }
  .card-feet {
    display: flex;
    justify-content: flex-end;
    img {
      @include rounded-img;
      height: 40px;
      width: 40px;
      margin-inline-end: 12px;
    }
    .participant-count {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bg-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      @include standard-txt-regular;
      font-size: 8px;
    }
  }




}

.pagination{
  padding: 0 0 1em 4em;
  p{
    @include important-txt;
    font-size : $font-size-large;
    color: #636F75;
  }

}


