input {
  border-radius: 80px;
  border-color: #2d2929;
  opacity: 0.8;
  transition: 0.33s;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 6px;
  padding-inline-start: 32px;
  margin: 12px;
  border: none;
  outline: none;
  /*Create a border when selected TODO: decide a style for it */
  width: 100%;
  /*Inputs fill all the width of their containers*/
  background-color: rgba(255, 253, 255, 0.7);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 15px;
}

/*------------LOGIN-FORM-------------*/
.login-form {
  font-size: 24px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 50vw;
  margin: auto;
}
.login-form input {
  background: none;
  border: 1px solid;
  padding: 18px;
  padding-inline-start: 45px;
  font-size: 23px;
}
.login-form input::placeholder {
  color: black;
  opacity: 0.8;
}
.login-form button {
  max-width: inherit;
}

.login-connect {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-block-start: 36px;
}
.login-connect .checkbox-container {
  min-width: 50%;
  margin-inline-start: 54px;
}
.login-connect .checkbox-container .checkbox {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #232020;
  opacity: 0.8;
  margin: auto;
}
.login-connect .checkbox-container .checkbox input[type=checkbox] {
  margin-inline-start: 1rem;
}
.login-connect .checkbox-container .checkbox .remember-me {
  font-size: 0.9rem;
  font-weight: 500;
  margin-inline-start: 2rem;
}

@media screen and (max-width: 1000px) {
  .login-form {
    min-width: 65vw;
  }
}
@media screen and (max-width: 768px) {
  .checkbox-container {
    display: none;
  }
}
@media screen and (max-width: 535px) {
  .login-form {
    margin: 8px;
  }

  .login-page {
    margin: 18px;
  }
}
.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: rgba(170, 73, 216, 0.29);
  border-radius: 40px;
  border: none;
  height: 22rem;
  width: 22rem;
  padding: 20px 40px;
}

.card .card-head h1,
.card .card-head h2,
.card .card-head h3,
.card .card-head h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 20px;
}
.card .card-head .date {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-block-end: 20px;
}
.card .card-body {
  margin-inline-end: 10%;
  min-height: 35%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.card .card-body p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.card .btn-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-inline-end: 10%;
}
.card .btn-group button {
  display: inline;
  background-color: transparent;
  min-width: auto;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: small-caps;
  color: #232020;
  font-size: 20px;
}
.card .card-feet {
  display: flex;
  justify-content: flex-end;
}
.card .card-feet img {
  border-radius: 50%;
  height: 60px;
  width: auto;
  margin-inline-end: 12px;
}
.card .card-feet .participant-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  border-radius: 50%;
  height: 60px;
  width: auto;
}

/*# sourceMappingURL=card.css.map */
