@import "../theme/color";
@import "../theme/fonts";
@import "../theme/shape";

.form-field{

  @include border-primary;

  display    : flex;
  flex-flow  : row nowrap;
  align-items: baseline;

  padding : 1rem;
  margin  : 0.5rem;
  border  : 1px solid;

  input {
    background: none;
    border:none;
    font-family: $opensans;
    font-size: 1.5rem;
    margin-inline-start: 1rem;
  }
  :hover{

  }
  ::placeholder{
    font-family: $signika;
    font-variant-caps: small-caps;
    font-weight: bold;
    font-size: 1.25rem;
    color:black;
    opacity: 0.8;
  }
}
/*------------LOGIN-FORM-------------*/
$font-size-login-form       : 24px;
$padding-login-form-field   : 18px;

.login-form{
  font-size: $font-size-login-form;

  display:flex;
  flex-flow: column nowrap;
  min-width: 50vw;
  margin:auto;
}
.login-form-field{
  @extend .form-field;
  padding: $padding-login-form-field;
  input{
    outline:none;
  }
}

.login-connect{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-block-start: 36px;

  .checkbox-container{
    min-width: 50%;
    margin-inline-start: 54px;

    .checkbox{
      display:flex;
      align-items: center;
      font-family: $opensans;
      color:$font-secondary-color;
      opacity:0.8;
      margin:auto;

      input[type="checkbox"]{
        margin-inline-start: 1rem;
      }
      .remember-me{
        font-size: $font-size-secondary;
        font-weight: 500;
        margin-inline-start: 2rem;
      }
    }

  }
}


@media screen and (max-width: 1000px) {
  .login-form{
    min-width: 65vw;
  }
}
@media screen and (max-width: 768px) {
  .checkbox-container {
    display:none;
  }
}
@media screen and (max-width: 535px) {
  .login-form{
    margin:8px;
  }
  .login-page{
    margin: 18px;
  }
}