@import "../theme/fonts";
.login-header{
  display:flex;
  flex-flow: column;
  width:100%;
  min-height:38vh;

  .login-catchphrase{
    font-weight: 400;
    font-family: $opensans;
    font-size: 1.33rem;
  }
  .login-siteName{
    font-family: $poiret;
    font-size: 4rem;
    font-weight: 100;
    margin-block-start: 1rem;
  }
}