$font-primary-color : #ffffff;
$font-secondary-color : #232020;

$bg-color: #E5E5E5;

$btn-primary-color: rgb(126, 127, 128);
$btn-primary-hover-color: rgba(41, 44, 45, 0.8);

$btn-secondary-color: #d3d4d4;
$btn-secondary-hover-color: #a09b9b;