$font-secondary-color : #ffffff;
$font-primary-color: #232020;

$bg-color: rgba(253, 252, 248, 0.6);
$input-bg-color: rgba(255, 253, 255, 0.7);

$btn-primary-color: rgb(126, 127, 128);
$btn-primary-hover-color: rgba(41, 44, 45, 0.8);

$btn-secondary-color: #d3d4d4;
$btn-secondary-hover-color: #a09b9b;