$opensans : 'Open Sans', sans-serif;
$signika  : 'Open Sans', sans-serif;
$poiret   : 'Poiret One', cursive  ;
$font-secondary-color : #232020;
$font-size-primary    : 18px;
$font-size-secondary  : 0.9rem;
html{
  font-size: $font-size-primary;
}