<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# /!\ Make themes files common to all pages /!\#}
            <link rel="stylesheet" href="{{ asset('style/frames/main.css') }}">
        {% endblock %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poiret+One&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">


        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% include('menu/nav.html.twig')%}
        {% block body %}{% endblock %}
    </body>
</html>
