<nav class="navbar">

    <div class="nav-logo">
        <h1 class="logo">
            Sortir.com
        </h1>
    </div>
    <div class="nav-items">

            <a href="{{ path('outing') }}" class="nav-btn">
                Villes
            </a>

            <a href="{{ path('outing') }}" class="nav-btn">
                Sites
            </a>


            <a href="{{ path('participant_profile_update') }}" class="nav-profile-btn">
                {{ app.user.firstName[:1] }}
            </a>

    </div>
</nav>